body {
    font-family: sans-serif;
}

h2 {
    margin: 0;
    margin-bottom: 10pt;
    font-size: 12pt;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
    margin-left: 0;
    display: inline;
}

span {
    margin: 0;
}

.element {
    display: inline-block;
    padding: 2px;
    vertical-align: top;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.arrow {
    font-weight: bold;
    margin-left: 4px;
}